<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>インデックス編集</title>
	<link rel="stylesheet" th:href="@{/css/cursor_pad.css}">
	<link rel="stylesheet" th:href="@{/css/markdown_toolbar.css}">
	<link rel="stylesheet" th:href="@{/css/article/article_edit.css}">
	<link rel="stylesheet" th:href="@{/css/article/article_link.css}">
	<link rel="stylesheet" th:href="@{/css/toggle/code_block_editor.css}">
	<link rel="stylesheet" th:href="@{/css/toggle/spoiler_editor.css}">
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div th:replace="~{fragments/header :: header}"></div>

	<div class="edit-box">
		<h1>インデックス編集</h1>

		<p th:if="${error}" th:text="${error}"></p>

		<form th:action="@{/index/edit/save}" method="post">
			<input type="hidden" name="groupId" th:value="${selectedGroupId}">

			<!-- インデックス専用の編集領域 -->
			<div th:replace="~{index/index_editor :: editorFields}"></div>
			<div th:replace="~{fragments/article_link_modal :: articleLinkModal}"></div>

			<div class="button-row">
				<button type="submit" class="btn-save">保存してGitHubへプッシュ</button>
				<button type="button" id="pasteButton" class="btn-back">ペースト</button>
				<button type="button" id="copyAllButton" class="btn-back">内容を一括コピー</button>
				<button type="button" id="clearButton" class="btn-clear">クリア</button>
				<button type="button" id="backButton" class="btn-back">一覧へ戻る</button>
			</div>
		</form>
	</div>

	<script th:inline="javascript">
		window.siteUrl = /*[[${siteUrl}]]*/ '';
		window.createDate = /*[[${createDate}]]*/ null;
		window.updateDate = /*[[${updateDate}]]*/ null;
		window.categorySelects = /*[[${categories}]]*/[];
		window.categoryPath = /*[[${categoryPath}]]*/ null;
		window.categoryGroupId = /*[[${selectedGroupId}]]*/ null;
		window.indexEditMode = true;
	</script>

	<script th:src="@{/js/index/index_edit.js}"></script>
	<script th:src="@{/js/markdown_toolbar.js}"></script>
	<script th:src="@{/js/navigation.js}"></script>
	<script type="module" th:src="@{/js/facades/image_manager.js}"></script>
	<script th:src="@{/js/toggle/insert_menu.js}"></script>
	<script th:src="@{/js/toggle/link_manager.js}"></script>
	<script th:src="@{/js/toggle/spoiler_editor.js}"></script>
	<script th:src="@{/js/toggle/code_block_editor.js}"></script>
	<script type="module" th:src="@{/js/facades/index_facade.js}"></script>
	<script th:src="@{/js/cursor_pad_control.js}"></script>
	<script th:src="@{/js/cursor_pad_viewport.js}"></script>
</body>

</html>