<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>下書き一覧</title>
	<link rel="stylesheet" th:href="@{/css/article_list.css}">
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div th:if="${published}" class="success-message">
		投稿しました。
	</div>

	<div class="box">
		<h1>下書き一覧</h1>

		<table>
			<thead>
				<tr>
					<th>タイトル</th>
					<th>カテゴリー</th>
					<th>更新日時</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="w : ${works}">
					<td th:text="${w.title}"></td>
					<td th:text="${w.categoryName}"></td>
					<td class="local-date" th:attr="data-date=${w.updateDate}">
					</td>
					<td>
						<a class="edit-link btn-edit" th:href="@{/article/edit(workId=${w.workId})}">編集</a>
						<form th:action="@{/article/delete}" method="post" style="display:inline;"
							onsubmit="return confirm('この下書きを削除してもよろしいですか？');">
							<input type="hidden" name="workId" th:value="${w.workId}">
							<button type="submit" class="btn-delete">削除</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>

		<a class="new-button btn-back" th:href="@{/article/edit}">
			新規作成
		</a>
		<button type="button" id="backButton" class="btn-back">戻る</button>
	</div>

	<script th:src="@{/js/article_list.js}"></script>

</body>

</html>