<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<!--
	記事リンク挿入モーダル

	・投稿済み記事一覧表示
	・リンク表示名変更
	・Markdownリンク生成

	記事データはArticleEditControllerから渡された
	publishedArticlesをlink_manager.jsで利用する。
-->
	<div th:fragment="articleLinkModal" id="articleLinkModal" class="article-link-modal" style="display:none;">


		<div class="article-link-dialog">


			<h2>
				記事リンク挿入
			</h2>


			<!--
			リンク対象記事一覧

			JSで投稿済み記事を表示
			-->
			<div id="articleLinkList" class="article-link-list">

			</div>


			<!--
			選択記事の表示名変更
			-->
			<div class="article-link-text-area">

				<label for="articleLinkText">
					表示名
				</label>

				<input type="text" id="articleLinkText" placeholder="記事タイトル">

			</div>


			<div class="article-link-button-area">

				<button type="button" id="articleLinkInsertButton" class="btn-back">

					挿入

				</button>


				<button type="button" id="articleLinkCancelButton" class="btn-back">

					キャンセル

				</button>

			</div>


		</div>

	</div>


</body>

</html>