<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<!--
	画像編集モーダル

	・カテゴリー変更
	・保存先フォルダ変更
-->
	<div th:fragment="imageEditModal" id="imageEditModal" class="modal-overlay">

		<div class="modal-content">

			<h2>画像編集</h2>

			<input type="hidden" id="imageId">

			<label>カテゴリー</label>

			<select id="imageCategoryId">
				<option value="">未分類</option>
				<option th:each="c : ${categories}" th:value="${c.categoryId}" th:text="${c.displayName}">
				</option>
			</select>

			<label>保存先フォルダ</label>

			<input type="text" id="imageFolderName">

			<div class="modal-buttons">

				<button type="button" id="saveImageButton" class="btn-save">
					保存
				</button>

				<button type="button" id="cancelImageButton" class="btn-back">
					キャンセル
				</button>

			</div>

		</div>

	</div>

	<div style="margin-top:20px;">

		<button type="button" id="saveImageButton" class="btn-save">
			保存
		</button>

		<button type="button" id="cancelImageButton" class="btn-back">
			キャンセル
		</button>

	</div>

	</div>

	</div>

</body>

</html>