<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="UTF-8">

	<title>カテゴリー辞典</title>

	<link rel="stylesheet" th:href="@{/css/category_list.css}">

	<link rel="stylesheet" th:href="@{/css/home.css}">

	<link rel="stylesheet" th:href="@{/css/common.css}">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

	<div th:replace="~{fragments/header :: header}"></div>

	<div class="home-header">

		<h1>カテゴリー辞典</h1>

	</div>

	<div style="margin-bottom: 10px;">

		<button type="button" id="addCategoryButton" class="btn-correct">

			カテゴリー追加

		</button>

	</div>

	<table>

		<thead>

			<tr>

				<th>
					<button type="button" class="sort-button" data-sort="categoryName">
						カテゴリー名
					</button>
				</th>

				<th>
					<button type="button" class="sort-button" data-sort="displayName">
						表示名
					</button>
				</th>

				<th>
					<button type="button" class="sort-button" data-sort="parentCategoryName">
						親カテゴリー
					</button>
				</th>

				<th>
					<button type="button" class="sort-button" data-sort="typoCount">
						使用中の誤字数
					</button>
				</th>

				<th></th>

			</tr>

		</thead>

		<tbody id="categoryList">

			<tr th:each="c : ${categories}">

				<td th:text="${c.categoryName}" data-sort-value="categoryName">
				</td>

				<td th:text="${c.displayName}" data-sort-value="displayName">
				</td>

				<td th:text="${c.parentCategoryName}" data-sort-value="parentCategoryName">
				</td>

				<td th:text="${c.typoCount}" th:data-sort-value="${c.typoCount}">
				</td>

				<td>

					<form th:action="@{/category/delete}" method="post" style="display:inline;"
						onsubmit="return confirm('このカテゴリーを削除してもよろしいですか？');">

						<input type="hidden" name="categoryId" th:value="${c.categoryId}">

						<button type="submit" class="btn-delete" th:disabled="${!c.deletable}">

							削除

						</button>

					</form>

					<button type="button" class="btn-correct btn-update" th:data-category-id="${c.categoryId}"
						th:data-category-name="${c.categoryName}" th:data-parent-category-ids="${c.parentCategoryIds}"
						th:data-display-name="${c.displayName}">

						編集

					</button>

				</td>

			</tr>

		</tbody>

	</table>

	<button type="button" id="backButton" class="btn-back">

		戻る

	</button>

	<div th:replace="~{fragments/category_modal :: categoryModal}"></div>

	<script th:inline="javascript">

		const categories = /*[[${categories}]]*/[];

	</script>

	<script th:src="@{/js/common.js}"></script>

	<script th:src="@{/js/category_list.js}"></script>

</body>

</html>