<!--
カテゴリー参考文献管理画面

選択カテゴリーに紐付く参考文献を管理する。
参考文献名は必須、URLは書籍対応のため任意。
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>参考文献管理</title>
	<link rel="stylesheet" th:href="@{/css/common.css}">
</head>

<body>

	<h1>参考文献管理</h1>


	<h2 th:text="'登録先カテゴリー：' + ${categoryName}">
	</h2>

	<!-- 登録フォーム -->
	<form th:action="@{/category/reference/save}" method="post">

		<input type="hidden" name="categoryId" th:value="${categoryId}">


		<label>
			参考文献名
		</label>

		<input type="text" name="referenceName" required>


		<label>
			URL
		</label>

		<input type="text" name="url">


		<button type="submit">
			登録
		</button>

	</form>



	<hr>



	<!-- 登録済み参考文献一覧 -->
	<h2>登録済み参考文献</h2>


	<table>

		<tr>
			<th>
				名称
			</th>

			<th>
				URL
			</th>

			<th>
				操作
			</th>
		</tr>


		<tr th:each="reference : ${references}">

			<td th:text="${reference.referenceName}">
			</td>


			<td>

				<a th:if="${reference.url != null}" th:href="${reference.url}" target="_blank"
					th:text="${reference.url}">
				</a>

			</td>


			<td>

				<form th:action="@{/category/reference/delete}" method="post">

					<input type="hidden" name="referenceId" th:value="${reference.referenceId}">

					<input type="hidden" name="categoryId" th:value="${categoryId}">


					<button type="submit">
						削除
					</button>

				</form>

			</td>

		</tr>


	</table>


</body>

</html>